doctype html
html
  head
      block head
        title= "Film Forest"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/mainPageNav.css')
  body
    .container
        .navBarLeft
        //- cell.navBar1
        .navBarBody
            .navbar
                .navbar_container
                    .navbar_logo
                        a(href='/')
                            img(src='/images/FFLogo.png')
                    //- +validationErrorSummary(errors)
                    if locals.authenticated
                    .navbar_container2.form-inline
                        form.form-inline(method='post' action='/users/login')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            input(type='text' name='email' placeholder='Enter email')
                            input(type='password' name='password' placeholder='Enter password')
                            a(href='/users/register')
                            button(class='button' type='submit') Login
                        form.form-inline(method='post' action='/users/demo')
                            button(class='button' type='submit') Demo Login
        .navBarRight
        .topBannerLeft
        .movie-night Movie Night!
        .register
            form(method="POST" action="/users/register")
                input(type='hidden' name='_csrf' value=csrfToken)
                div Don't have an account? Register here!
                div
                    label(class='label1')
                    input(type='text' name='firstName' placeholder='First Name')
                div
                    label(class='label2')
                    input(type='text' name='lastName' placeholder='Last Name')
                div
                    label(class='label4')
                    input(type='text' name='email' placeholder='Email')
                div
                    label(class='label5')
                    input(type='password' name='password' placeholder='Password')
                div
                    button(class='button' type='submit') Submit
        .topBannerRight
        .first-left-margin
        .second-right-margin
        .footer
        .movie-info1
            table.GeneratedTable.sortable
                th The Best Movies
                    tr
                        th
                        th
                        th
                tbody
                    each movie in moviesBest
                        tr
                            td: a(href=`/movies/${movie.id}`)
                                img(src=`${movie.movieUrl}` height='100px')
                            td: a(href=`/movies/${movie.id}`)= movie.title
                            td
                                if movie.totalRating > .50
                                    span.fire=  '🔥'
                                if movie.totalRating < .50
                                    span.Disaster= '🌪'
                                span= Math.floor(movie.totalRating * 100)+'%'
            table.GeneratedTable.sortable
                th The Worst Movies
                    tr
                        th
                        th
                        th
                tbody
                    each movie in moviesWorst
                        tr
                            td: a(href=`/movies/${movie.id}`)
                                img(src=`${movie.movieUrl}` height='100px')
                            td: a(href=`/movies/${movie.id}`)= movie.title
                            td
                                if movie.totalRating > .50
                                    span.fire=  '🔥'
                                if movie.totalRating < .50
                                    span.Disaster= '🌪'
                                span= Math.floor(movie.totalRating * 100)+'%'
        .movie-info2
        .first-right-margin
        .second-left-margin
        .second-right-margin
        .footer
