doctype html
html
  head
      block head
        title= "Film Forest"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/mainPageNav.css')
        script(src='/javascripts/carousal.js')
  body
    .container
        .navBarLeft
        //- cell.navBar1
        .navBarBody
            .navbar
                .navbar_container
                    .navbar_logo
                        a(href='/')
                            img(src='/images/FFGREENBIG.png')
                    //- +validationErrorSummary(errors)
                    if locals.authenticated
                    .navbar_container2.form-inline
                        form.form-inline(method='post' action='/users/login')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            input(type='text' name='email' placeholder='Enter email')
                            input(type='password' name='password' placeholder='Enter password')
                            a(href='/users/register')
                            button.buttonLogin(type='submit') Login
                        form.form-inline(method='post' action='/users/demo')
                            button.buttonDemo(type='submit') Demo Login
        .navBarRight
        .topBannerLeft
        .movie-night 
        .register.register-form
            form.formClass(method="POST" action="/users/register")
                input(type='hidden' name='_csrf' value=csrfToken)
                div.registerText Don't have an account? Register here!
                div
                    label(class='label1')
                    input.button2(type='text' name='firstName' placeholder='First Name')
                div
                    label(class='label2')
                    input.button2(type='text' name='lastName' placeholder='Last Name')
                div
                    label(class='label4')
                    input.button2(type='text' name='email' placeholder='Email')
                div
                    label(class='label5')
                    input.button2(type='password' name='password' placeholder='Password')
                div
                    button(class='button' type='submit') Submit
        .topBannerRight
        .first-left-margin
        .second-right-margin
        .footer
        .movie-info1
            .carousel
                button#carousel-left LEFT
                button#carousel-right RIGHT
                .card-container
                    each movie in moviesBest
                        .card
                            img.poster(width="100%", src=`${movie.movieUrl}`)
                            .text-container
                                a.title(href=`/movies/${movie.id}`)= movie.title
                                .score
                                    if movie.totalRating > .70
                                        span.score.fire=  '🔥 '
                                    if movie.totalRating < .69
                                        span.score.Disaster= '🌪 '
                                    span.score= Math.floor(movie.totalRating * 100)+'%'
        .movie-info2
            .carousel
                button#carousel-left LEFT
                button#carousel-right RIGHT
                .card-container
                    each movie in moviesWorst
                        .card
                            img.poster(width="100%", src=`${movie.movieUrl}`)
                            .text-container
                                a.title(href=`/movies/${movie.id}`)= movie.title
                                .score
                                    if movie.totalRating > .70
                                        span.score.fire=  '🔥 '
                                    if movie.totalRating < .69
                                        span.score.Disaster= '🌪 '
                                    span.score= Math.floor(movie.totalRating * 100)+'%'
        .mainSidebar 
            h1.
        .first-right-margin
        .second-left-margin
        .second-right-margin
        .footer
