extends layout.pug

block content
    div(class="movie-div")
      div(class="movie-title")= movie.title
      div(class="movie-genre")= movie.genre  
      div(class="movie-release")= movie.releaseDate
      div(class="movie-ratings")= movie.totalRating
      div(class="movie-description")= movie.description
    div
      label Leaf Review
      form(method='post' action=`/movies/${movie.id}`)
        input(type='text' name='review')
        button(type='submit') Submit Review
    div(class='reviews-div')
      div(class='movie-reviews')= movie.Review.review
      