extends layout.pug

block content
    div(class="movie-div")
      img(class="movie-img" src="/images/borat.jpg")
      div(class="movie-title")= movie.title
      div(class="movie-genre")= movie.genre
      div(class="movie-release")= movie.releaseDate
      div(class="movie-ratings")= movie.totalRating
      div(class="movie-description")= movie.description
    div(class="review-div")
      label(class="review-label") Want to leave a review?
        button(type='submit' class="review-button")
          a(href=`/reviews/${movie.id}`) Leave a review here!!
    div(class='reviews-div')
      if reviews
        each review in reviews
          ul(class='single-review')
            div(class='movie-reviews')= review.review
            each user in users
              if user.id===review.userId
                div(class='user')= user.firstName
            //- li(class='movie-reviews')= user.firstName
        //- each user in users
        //-   ul
        //-     li= user.firstName
