extends layout.pug

block content
    div(class="movie-div")
      cell.mtop
      cell.mleft
      cell.img
        img(class="movie-img" src=`${movie.movieUrl}`)
      cell.title 
        div(class="movie-title")= movie.title
      cell.genre
        div(class="movie-genre")= movie.genre
      cell.release
        div(class="movie-release")= 'Release  ' + movie.releaseDate.toDateString()
      cell.ratings
        div(class="movie-ratings")= Math.floor(movie.totalRating * 100)+'%'
          if movie.totalRating > .70
            div(class="fire")=  '🔥'
          if movie.totalRating < .69
            div(class="Disaster")= '🌪'
      cell.description
        div(class="movie-description")= movie.description
      cell.addToList 
        button(type='submit' class='add-movie') Add to My Movies
      cell.mright
    div(class="review-div")
      if locals.authenticated
        label(class="review-label") Want to leave a review?
          button(type='submit' class="review-button")
            a(href=`/reviews/${movie.id}`) Leave a review here!!
    div(class='reviews-div')
      cell.Rleft 
      cell.singleR
        if reviews
          each review in reviews
            div(class='single-review')
              div(class='movie-reviews')= review.review
              each user in users
                if user.id===review.userId
                  div(class='user')= user.firstName
      cell.userR 
        label(class="user-reviews") Community Reviews 
      cell.Rright 
      cell.Rbottom
