extends layout.pug

block content
  body.movieBody
    div.movieTop
    div.movie-div
      cell.mtop
      cell.mleft
      cell.img
        img(class="movie-img" src=`${movie.movieUrl}`)
      cell.title
        div.movie-title= movie.title
      cell.genre
        div.movie-genre= movie.genre
      cell.release
        div.movie-release= 'Release  ' + movie.releaseDate.toDateString()
      cell.ratings
        div.movie-ratings= Math.floor(movie.totalRating * 100)+'%'
          if movie.totalRating > .70
            span.fire=  '🔥'
          if movie.totalRating < .69
            span.Disaster= '🌪'
      cell.description
        div.movie-description= movie.description
      cell.addToList
        //- button(type='submit' class='add-movie') Add to My Movie
        //- if dashboards
        form(method="post" action=`/movies/${movie.id}`)
          select.selectB(name="dashboardId" onChange="this.form.submit()")
            option(value='')= ''
            each dashboard in dashboards
              option(value=dashboard.id)= dashboard.name
          //- button(type='submit' class="review-button") Add to your movies!
      cell.mright
    div.review-div
      if locals.authenticated
        label.review-label Want to leave a review?
          button.review-button(type='submit')
            a(href=`/reviews/${movie.id}`) Leave a review here!!
    div.reviews-div
      cell.Rleft
      cell.Rtop
      cell.singleR
        if reviews
          each review in reviews
            div.single-review
              div.movie-reviews= review.review
              each user in users
                if user.id===review.userId
                  div.user= user.firstName
      cell.userR
        label.user-reviews Community Reviews
      cell.Rright
      cell.Rbottom
    div.pageBottom
