extends layout.pug

block content
    .container
        .cell.cell-2
            ul
                div: a(href="/my-movies") My Movies
                div: a(href="/my-movies/to-watch") To Watch
                div: a(href="/my-movies/watched") Watched
        .cell.cell-3
            table.GeneratedTable.sortable.myTable
                thead
                    tr
                        th Poster
                        th Title
                        th Average Rating
                        th Genre
                        th Edit
                        th Delete

                tbody
                    each movie in movies
                        each savedMovie in myDashboardMovies
                            if movie.id===savedMovie.movieId
                                tr
                                    td: a(href=`/movies/${movie.id}`)
                                        img(src=`${movie.movieUrl}` height='100px')
                                    td.title: a(href=`/movies/${movie.id}`)= movie.title
                                    td
                                        if movie.totalRating > .70
                                            span.fire=  '🔥'
                                        if movie.totalRating < .69
                                            span.Disaster= '🌪'
                                        span= Math.floor(movie.totalRating * 100)+'%'
                                    td.genre= movie.genre
                                                table.GeneratedTable.sortable
                                    td: a(href="")
                                    td: form(action=`/my-movies/delete/${movie.id}` method="post")
                                            button.deleteButton(type="submit") X
