extends layout.pug

block content
    .container
        //- cell.navBar3
        //- cell.navBarRight
        .cell.cell-1
        .cell.cell-2
            a(href="/my-movies") My Movies
            a(href="/my-movies/to-watch") To Watch
            a(href="/my-movies/watched") Watched
        .cell.cell-3
        .cell.cell-4
        .cell.cell-5
        .cell.cell-13
            table.GeneratedTable.sortable
                thead
                    tr
                        th Poster
                        th Title
                        th Average Rating
                        th Genre
                        th
                tbody
                    each movie in movies
                        each savedMovie in myDashboardMovies
                            if movie.id===savedMovie.movieId
                                tr
                                    td: a(href=`/movies/${movie.id}`)
                                        img(src=`${movie.movieUrl}` height='100px')
                                    td: a(href=`/movies/${movie.id}`)= movie.title
                                    td
                                        if movie.totalRating > .70
                                            span.fire=  '🔥'
                                        if movie.totalRating < .69
                                            span.Disaster= '🌪'
                                        span= Math.floor(movie.totalRating * 100)+'%'
                                    td= movie.genre
                                                table.GeneratedTable.sortable
                                    //- td: button.deleteButton(id=`${savedMovie.movieId}` type="button") X
        .cell.cell-6
