extends layout.pug

include utils.pug

block content
    div(class="movie-rev-div")
      cell.movieLeft
      cell.movieImg 
        img(class="movie-rev-img" src=`${movie.movieUrl}`)
      cell.movieTitle
        div(class="movie-rev-title")= movie.title
      cell.movieGenre
        div(class="movie-rev-genre")= movie.genre
      cell.movieDes
        div(class="movie-rev-description")= movie.description
      cell.movieRight
    div(class="review")
      cell.top
      cell.left-space 
      form(method="post" action=`/reviews/${movie.id}` class='review-form')
        label(class='leave-review')= 'Leave Review Here'
        textarea(name="review" class="input-review")
        button(type="submit" class='submit-buddon') Submit Review
          //- a(href=`/movies/${movie.id}`) Submit review
      cell.right-space 
