extends layout.pug

include utils.pug

block content
  body.reviewBody
    div.reviewTop
    div.movie-rev-div
      cell.movieLeft
      cell.movieImg 
        img(class="movie-rev-img" src=`${movie.movieUrl}`)
      cell.movieTitle
        div.movie-rev-title= movie.title
      cell.movieGenre
        div.movie-rev-genre= movie.genre
      cell.movieDes
        div.movie-rev-description= movie.description
      cell.movieRight
      cell.movieBottom
    div.review
      cell.top
      cell.left-space 
      form.review-form(method="post" action=`/reviews/${movie.id}`)
        label.leave-review= 'Leave Review Here'
        textarea.input-review(name="review")
        button.submit-buddon(type="submit") Post Review
          //- a(href=`/movies/${movie.id}`) Submit review
      cell.right-space 
    div.pageBottom 